html {
  background: #018DED url(http://unsplash.it/1500/1000?image=881&blur=50);
  background-size: cover;
  font-family: 'helvetica neue';
  text-align: center;
  font-size: 10px;
}

#time {
  color: white;
  position: absolute;
  top: 50%;
  left: 37%;
}

.number {
  position: absolute;
}

.n1 {
  top: -7%;
  left: 74%;
}

.n2 {
  top: 13%;
  left: 94.5%;
}

.n3 {
  top: 38%;
  left: 101%;
}

.n4 {
  bottom: 13%;
  left: 94.5%
}

.n5 {
  bottom: -7%;
  left: 74%;
}

.n6 {
  bottom: -13%;
  left: 47.5%;
}

.n7 {
  bottom: -7%;
  right: 74%;
}

.n8 {
  bottom: 13%;
  right: 94.5%;
}

.n9 {
  top: 38%;
  right: 101%;
}

.n10 {
  top: 13.5%;
  right: 92%;
}

.n12 {
  top: -13%;
  left: 46.5%;
}

.n11 {
  top: -6%;
  right: 73%;
}

body {
  margin: 0;
  font-size: 2rem;
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
}

.clock {
  width: 30rem;
  height: 30rem;
  border: 20px solid white;
  border-radius: 50%;
  margin: 50px auto;
  position: relative;
  padding: 2rem;
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1), inset 0 0 0 3px #EFEFEF, inset 0 0 10px black, 0 0 10px rgba(0, 0, 0, 0.2);
}

.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-3px);
  /* account for the height of the clock hands */
}

.hand {
  width: 50%;
  height: 3px;
  background: black;
  position: absolute;
  top: 50%;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
  border-radius: 40%;
}

.min-hand {
  height: 6px;
}

.hour-hand {
  height: 10px;
}